* {
    box-sizing: border-box;
}

body{
    background-color: #FB6B6B;
}

.root{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Página inicial */

.MenuInicial{
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FB6B6B;

    position: fixed;
    top: 0;
    left: 0;

}

.MenuInicial>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.MenuInicial img{
    width: 136px;
    height: 161px;

    margin-bottom: 30px;
}

.MenuInicial h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;

    margin-bottom: 40px;
}

.MenuInicial button{
    width: 200px;
    height: 50px;

    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #D70900;

    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.MenuInicial input{
    width: 200px;
    height: 40px;
    
    border-radius: 7px;
    border: 0;

    margin-bottom: 20px;

    padding: 10px;

    color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.MenuInicial select{
    width: 200px;
    height: 40px;

    background-color: #FFFFFF;
    
    border-radius: 7px;
    border: 0;

    margin-bottom: 20px;

    padding: 10px;

    color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* Página inicial */

/* Página Cards */

main{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
        
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;

    margin: 40px auto;
}

header img{
    width: 60px;
    height: 70px;

    margin-right: 20px;
}

.Content{
    margin-bottom: 50px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    height: 65px;

    margin-bottom: 25px;

    padding: 20px;

    background-color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.card h4{
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.card ion-icon{
    font-size: 35px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    min-height: 70px;
    max-height: fit-content;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: #FB6B6B solid 1px;
    
}

.icons{
    display: flex;
}

footer p{
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
}

.FZap{
    color: #2FBE34;
    font-size: 30px;
}
.FQuase{
    color: #FF922E;
    font-size: 30px;
}
.FError{
    color: #FF3030;
    font-size: 30px;
}

.finaltxt{
    font-family: 'Recursive';
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}

.finaltxt img{
    width: 20px;
}

.finaltxt p{
    font-family: 'Recursive';
    text-align: center;
    font-size: 18px;
    margin-top: 11px;
    margin-bottom: 15px;
}

.finaltxt button{
    width: 240px;
    height: 40px;

    background-color: #FB6B6B;

    border-radius: 10px;

    color: white;
    font-family: 'Recursive';
    font-size: 18px;

    margin-bottom: 10px;

}

/* Cards Variations */

.open-card{
    width: 300px;
    height: 120px;

    background-color: #FFFFD4;

    margin-bottom: 30px;

    padding: 18px;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    position: relative;
}

.open-card h4{
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.open-card img{
    position: absolute;
    bottom: 10px;
    right: 15px;

    width: 30px;
}

.revealed-card{
    width: 300px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #FFFFD4;

    margin-bottom: 30px;

    padding: 18px;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    position: relative;
}

.revealed-card h4{
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.box{
    display: flex;
}

.box>div{
    width: 90px;
    height: 40px;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;

}

.erro{
    background-color: #FF3030;
}

.quase{
    background-color: #FF922E;
    margin-left: 8px;
    margin-right: 8px;
}
.zap{
    background-color: #2FBE34;
}

.card.correct{
    color: #2FBE34;
    text-decoration-line: line-through;
}

.card.almost{
    color: #FF922E;
    text-decoration-line: line-through;
}

.card.error{
    color: #FF3030;
    text-decoration-line: line-through;
}

/* Cards Variations */
